.modal {
	width: 100dvw;
	height: 100dvh;
	margin: 0;
	padding: 24px 16px;
	border: none;
}

.modal__close {
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0;
	margin: 0;
	top: 24px;
	right: 16px;
	background-color: transparent;
	border: none;
}

.modal__close::before,
.modal__close::after {
	position: absolute;
	content: "";
	width: 2px;
	height: 25px;
	border-radius: 5px;
	background-color: var(--color--black);
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	rotate: 45deg;
}

.modal__close::after {
	rotate: 135deg;
}

.modal__title {
	font: var(--text--H3-mob);
	padding: 0 24px 30px 0;
}

.modal__content h3 {
	padding: 10px 0 24px;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 500;
}

.modal__content p {
	padding-bottom: 20px;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 400;
}

@media (min-width: 720px) {
	.modal {
		width: 90%;
		height: 80%;
		margin: 0;
		padding: 48px 40px;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
	}

	.modal::backdrop {
		background-color: var(--color--black);
		opacity: 0.4;
	}

	.modal__close {
		top: 32px;
		right: 32px;
	}

	.modal__title {
		font: var(--text--H2-tab);
	}

	.modal__content h3 {
		font-size: 22px;
	}

	.modal__content p {
		font-size: 20px;
	}
}

@media (min-width: 1260px) {
	.modal {
		width: 1080px;
		padding: 56px 80px;
	}

	.modal__title {
		font: var(--text--H2-desk);
	}
}
